.separator {
    background-image: linear-gradient(
    to right top, 
    #040008, 
    #1f0431, 
    #3d3c46, 
    #202029, 
    #69068a, 
    #810ca5, 
    #b418c2, 
    #6d1670, 
    #9205a5, 
    #e0232c, 
    #aa061f, 
    #c50d0d
    );

height: 6px;
width:40%;
border-radius: 4px;
margin:16px 0px;

}